@import './colors/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: $gray-medium;
    font-family: 'Saira', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main {
    width: 1224px;

    margin-top: 5rem;
}

#blurTop {
    position: absolute;
    width: 100vw;
    z-index: -1;
    top: 150px;
    left: 0;
    overflow: hidden;

    img {
        width: 100%;
        height: 100vh;
    }
}


#blurAndImage {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 500px;
    width: 100vw;
    left: 0;

    img {
        width: 100vw;
    }

}

header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 100;

    background-color: $gray-medium;
    
    #containerHeader {
        width: 1224px;
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        justify-content: space-between;

        
    }

    nav {
        width: 521px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            color: $black-dark;
            font-size: 24px;
            font-weight: 300;
            position: relative;
            display: flex;
            justify-content: center;

            transition: 0.3s ease-in-out;

            &:hover {
                color: $red-medium;
            }

            &::before {
                content: '';
                position: absolute;
                background-color: $red-medium;
                width: 0;
                height: 2px;
                bottom: -5px;

                transition: 0.3s ease-in-out;
            }

            &:hover:before {
                width: 100%;
            }
        }

        a:first-child {
            display: flex;
            align-items: center;

            span {
                margin-left: 13px;
            }
        }
    }
}

#containerPresentation {
    #containerAbout {
        height: 398px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 223px;
        margin-bottom: 118px;

        div {
            width: 496px;

            p {
                strong {
                    font-weight: 600;
                    color: $red-medium;
                }
            }

            p:first-child {
                width: 450px;
                margin-bottom: 96px;
                font-size: 32px;
                font-weight: 400;
            }

            p:nth-child(2){
                font-size: 24px;
                font-weight: 300;
            }
        }
    }
}

.detail {
    text-align: center;
    p {
        font-size: 36px;
        color: $red-dark;
    }

    .border {
        position: absolute;
        width: 100%;
        left: 0;
        border-bottom: 5px solid $red-medium;
    
    }
}

#background {
    position: absolute;

    margin-top: 5px;
    left: 0;

    width: 100vw;
    height: 2135px;

    background-color: $black-light;

    z-index: -1000;
}

#chooseUs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 315px;

    #description {
        width: 618px;

        h2 {
            font-size: 56px;
            color: white;

            margin-bottom: 211px;
        }

        p {
            font-size: 22px;
            color: $gray-dark;
        }
    }

    #Ingredients {
        width: 412px;
        height: 481px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23B21921FF' stroke-width='4' stroke-dasharray='20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 4px; 

        padding: 61px 0 0 61px;

        h3 {
            font-size: 30px;
            font-weight: 500;
            color: white;
        }

        ul {
            margin-top: 32px;
            li {
                display: flex;
                align-items: center;
                list-style: none;
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 26px;

                span {
                    margin-left: 14px;
                    color: $gray-dark;
                }
            }

            li:last-child{
                margin-bottom: 0px;
            }
        }
    }
}

#containerMenu {
    margin-top: 194px;
    width: 100%;

    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 52px;
            font-weight: 500;
            color: $red-medium;
        }

        #bar {
            width: 100%;
            height: 3px;
            background-color: $red-medium;
            margin-top: 40px;
            margin-bottom: 58px;
        }

        ul {
            width: 932px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            margin-bottom: 141px;

            li {
                font-size: 24px;
                list-style: none;

                margin-right: 38px;

                a {
                    color: white;
                    text-decoration: none;

                    transition: 0.2s ease-in-out;

                    &:hover {
                        color: $red-medium;
                    }
                }
            }

            li:last-child {
                margin-right: 0;
            }

            li:nth-child(7) {
                margin-right: 0;
            }

            li:nth-child(8), li:nth-child(9), li:nth-child(10), li:nth-child(11), li:nth-child(12){
                margin-top: 20px;
            }

        }
    }

    #foods {
        width: 100%;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        margin-bottom: 143px;

        gap: 20px;

        .containerFoods {
            width: 288px;
            height: 389px;  

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            background-image: url(../img/img-produtos/hot-holl.svg);
            border-radius: 10px;

            position: relative;

            z-index: 1;

            h3 {
                font-size: 24px;
                font-weight: 600;
                color: white;
            }

            p:nth-child(2) {
                color: white;
                font-weight: 400;
                font-size: 16px;

                margin-top: 9px;
            }

            p:nth-child(3) {
                color: $red-light;
                font-weight: 400;
                font-size: 20px;

                margin-top: 52px;
            }

            button {
                width: 162.64px;
                height: 35px;

                border-radius: 20px;
                border: none;
                margin-top: 47px;

                color: white;

                background-color: $red-medium;

                &:hover {
                    cursor: pointer;
                    background-color: $red-light;

                    transform: scale(1.1);
                }
            }

            * {
                opacity: 0;
                transition: 0.3s ease-in-out;
            }



            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;

                background-color: rgba($color: #000000, $alpha: 0.9);

                border-radius: 10px;

                opacity: 0;

                transition: 0.3s ease-in-out;

                z-index: -1;
            }

            &:hover *, &:hover::after {
                opacity: 100%;
            }
        }
    }

    #seeAllMenu {
        display: flex;
        justify-content: center;

        a {
            width: 300px;
            height: 90px;

            border-radius: 10px;
            border: none;

            background-color: $red-medium;

            transition: 0.5s ease-in-out;

            display: flex;
            align-items: center;
            justify-content: center;

            text-decoration: none;

            span {
                font-size: 20px;
                color: white;
                font-weight: 400;

                margin-left: 20px;
            }

            &:hover {
                transform: scale(1.1);
                background-color: $red-light;

                cursor: pointer;
            }
        }
    }
}

#avaliations {
    margin-top: 515px;

    #lovers {
        display: flex;
        align-items: center;

        margin-bottom: 43px;

        p {
            margin-left: 29px;
            font-size: 18px;
        }
    }

    #about {
        h2 {
            font-size: 40px;
            font-weight: 400;

            strong {
                font-weight: 600;
                color: $red-dark;
            }
        }
    }

    #containerUsersAvaliations {
        margin-top: 20px;
        margin-bottom: 196px;

        #buttonsUsers {
            width: 100%;

            display: flex;
            justify-content: flex-end;


            margin-bottom: 52px;

            button {
                width: 46px;
                height: 46px;

                border-radius: 100%;
                border: 1px solid #B21921;

                background-color: transparent;

                transition: 0.3s ease-in-out;

                &:hover {
                    background-color: $red-medium;

                    border: none;
                }
            }

            #next {
                margin-left: 56px;
            }
        }

        #containerUsers {
            width: 1120px;
            height: 100%;

            margin: auto;

            display: flex;
            justify-content: space-between;

            .user {
                width: 288px;
                height: 400px;

                box-shadow: 1px 1px 60px rgba(221, 60, 69, 0.15);
                border-radius: 10px;
                background: $gray-medium;

                .nameUser {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    padding-top: 67px;
                    padding-bottom: 74px;

                    p {
                        font-weight: 500;
                        font-size: 15px;

                        margin-left: 17px;

                        color: $red-dark;
                    }
                }

                .avaliationUser {
                    margin-left: 24px;

                    h3 {
                        font-weight: 500;
                        font-size: 20px;

                        color: $red-light;
                    }

                    p {
                        font-size: 15px;
                        width: 240px;

                        margin-top: 12px;
                    }
                }
                
            }
        }
    }
}

footer {
    width: 1284px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 107px;

    #footerAbout {
        #aboutLogo {
            display: flex;
            align-items: center;
            margin-bottom: 32px;
    
            svg {
                width: 65px;
                height: 67px;
            }
    
            p {
                font-weight: 500;
                font-size: 24px;
    
                margin-left: 43.61px;
    
                color: $red-dark;
            }
        }

        p {
            font-size: 18px;
        }
    }

    

    #socialMedias {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            font-weight: 500;
            font-size: 20px;

            margin-bottom: 27px;
        }

        div {
            width: 186.58px;
            display: flex;
            justify-content: space-between;
        }
    }
}

#me {
    width: 100%;
    margin-top: 98px;

    border-top: 5px solid #B21921;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 55px;
    padding-bottom: 55px;

    strong {
        font-weight: 500;
        font-size: 20px;

        margin-right: 14px;
    }
}

@media screen and (max-width: 1364px) {
    header {
        #logo {
            width: 60px;
            height: 60px;
        }

        #containerHeader {
            width: 800px;
        }
    }

    main {
        width: 800px;
    }
    #blurAndImage {
        display: none;
    }

    #containerPresentation {
        #containerAbout {
            flex-direction: column;

            div {
                width: 600px;

                p:first-child {
                    width: 100%;
                }
            }

            svg {
                display: none;
            }
        }
    }

    #background {
        height: 2600px;
    }

    #chooseUs {
        flex-direction: column;

        #Ingredients {
            margin-top: 60px;
        }
    }

    #containerMenu {
        #menu {
            width: 800px;

            #listFoods {
                width: 100%;
                li {
                    font-size: 18px;
                }
            }
        }

        #foods {
            .containerFoods {
                width: 188px;
                height: 289px;
            }
            
        }
    }

    #avaliations {
        height: 100%;
        #containerUsersAvaliations {
            #containerUsers {
                width: 100%;
                padding-left: 100px;
                padding-right: 100px;

                flex-direction: column;
                align-items: center;
                gap: 100px;
                justify-content: center;
            }
        }
    }

    footer {
        width: 800px;
    }
    
}

@media screen and (max-width: 860px){
    header {
        #containerHeader {
            width: 500px;
            align-items: center;
            nav {
                a {
                    display: none;
                }

                width: 35px;
                height: 3px;
                background-color: $red-medium;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    width: 30px;
                    height: 3px;
                    background-color: $red-medium;
                    top: -10px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 40px;
                    height: 3px;
                    background-color: $red-medium;
                    top: 10px;
                }
            }
        }
    }
    
    main {
        width: 500px;
    }

    #containerMenu {
        #menu {
            width: 100%;

            #listFoods {
                width: 100%;
                li {
                    font-size: 14px;
                }

                li:nth-child(7) {
                    margin-right: 38px;
                }

                li:nth-child(6), li:nth-child(7) {
                    margin-top: 20px;
                }
            }
        }
    }

    #containerPresentation {
        #containerAbout {
            div {
                width: 100%;
                p:first-child {
                    font-size: 25px;
                }

                p:nth-child(2) {
                    font-size: 20px;
                }
            }
        }

        #detail {
            p {
                font-size: 28px;
            }
        }
    }

    #background {
        height: 2735px;
    }

    #chooseUs {
        #description {
            width: 100%;

            h2 {
                font-size: 46px;
            }

            p {
                font-size: 18px;
            }
        }

        #Ingredients {
            width: 312px;
            height: 401px;

            padding: 41px 0 0 41px;

            h3 {
                font-size: 25px;
            }

            #listIngredients {
                li {
                    font-size: 18px;
                }
            }
        }
    }

    footer {
        width: 500px;
        flex-direction: column;

        #footerAbout {
            margin-bottom: 100px;
        }
    }
}

@media screen and (max-width: 550px) {
    header {
        #containerHeader {
            width: 300px;
        }
    }
    main {
        width: 300px;
    }

    #containerPresentation {
        #containerAbout { 
            height: 100%;
            div {
                p:nth-child(2){
                    font-size: 18px;
                }
            }
        }
    }

    #background {
        height: 3635px;
    }

    #containerMenu {
        #menu {
            #listFoods {
                li {
                    margin: 25px;
                }

                li:nth-child(6), li:nth-child(7) {
                    margin: 25px;
                }
            }
        }

        #foods {
            flex-wrap: nowrap;
            align-items: center;
            flex-direction: column;
        }

        #seeAllMenu {
            #buttonMenu {
                width: 200px;
                height: 90px;

                svg {
                    width: 25px;
                }

                span {
                    font-size: 16px;
                }
            }
        }
    }

    #avaliations {
        #lovers {
            p {
                font-size: 16px;
            }
        }

        #about {
            h2 {
                font-size: 30px;
            }
        }
    }

    footer {
        width: 300px;
    }
}





