$black-dark: #050607;
$black-medium: #141516;
$black-light: #242526;

$gray-light: #E3E4DE;
$gray-medium: #D8D9D2;
$gray-dark: #C5C6C0;

$red-light: #DD3C45;
$red-medium: #D2242D;
$red-dark: #B21921;


