@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #D8D9D2;
  font-family: 'Saira', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  width: 1224px;
  margin-top: 29px;
}

#blurTop {
  position: absolute;
  width: 100vw;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
}

#blurTop img {
  width: 100%;
  height: 100vh;
}

#blurAndImage {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: 500px;
  width: 100vw;
  left: 0;
}

#blurAndImage img {
  width: 100vw;
}

header {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  z-index: 100;
  background-color: #D8D9D2;
}

header #containerHeader {
  width: 1224px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav {
  width: 521px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a {
  text-decoration: none;
  color: #050607;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header nav a:hover {
  color: #D2242D;
}

header nav a::before {
  content: '';
  position: absolute;
  background-color: #D2242D;
  width: 0;
  height: 2px;
  bottom: -5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header nav a:hover:before {
  width: 100%;
}

header nav a:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a:first-child span {
  margin-left: 13px;
}

#containerPresentation #containerAbout {
  height: 398px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 223px;
  margin-bottom: 118px;
}

#containerPresentation #containerAbout div {
  width: 496px;
}

#containerPresentation #containerAbout div p strong {
  font-weight: 600;
  color: #D2242D;
}

#containerPresentation #containerAbout div p:first-child {
  width: 450px;
  margin-bottom: 96px;
  font-size: 32px;
  font-weight: 400;
}

#containerPresentation #containerAbout div p:nth-child(2) {
  font-size: 24px;
  font-weight: 300;
}

.detail {
  text-align: center;
}

.detail p {
  font-size: 36px;
  color: #B21921;
}

.detail .border {
  position: absolute;
  width: 100%;
  left: 0;
  border-bottom: 5px solid #D2242D;
}

#background {
  position: absolute;
  margin-top: 5px;
  left: 0;
  width: 100vw;
  height: 2235px;
  background-color: #242526;
  z-index: -1000;
}

#chooseUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 315px;
}

#chooseUs #description {
  width: 618px;
}

#chooseUs #description h2 {
  font-size: 56px;
  color: white;
  margin-bottom: 211px;
}

#chooseUs #description p {
  font-size: 22px;
  color: #C5C6C0;
}

#chooseUs #Ingredients {
  width: 412px;
  height: 481px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='4' ry='4' stroke='%23B21921FF' stroke-width='4' stroke-dasharray='20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 4px;
  padding: 61px 0 0 61px;
}

#chooseUs #Ingredients h3 {
  font-size: 30px;
  font-weight: 500;
  color: white;
}

#chooseUs #Ingredients ul {
  margin-top: 32px;
}

#chooseUs #Ingredients ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 26px;
}

#chooseUs #Ingredients ul li span {
  margin-left: 14px;
  color: #C5C6C0;
}

#chooseUs #Ingredients ul li:last-child {
  margin-bottom: 0px;
}

#containerMenu {
  margin-top: 194px;
  width: 100%;
}

#containerMenu #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#containerMenu #menu h2 {
  font-size: 52px;
  font-weight: 500;
  color: #D2242D;
}

#containerMenu #menu #bar {
  width: 100%;
  height: 3px;
  background-color: #D2242D;
  margin-top: 40px;
  margin-bottom: 58px;
}

#containerMenu #menu ul {
  width: 932px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 141px;
}

#containerMenu #menu ul li {
  font-size: 24px;
  list-style: none;
  margin-right: 38px;
}

#containerMenu #menu ul li a {
  color: white;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

#containerMenu #menu ul li a:hover {
  color: #D2242D;
}

#containerMenu #menu ul li:last-child {
  margin-right: 0;
}

#containerMenu #menu ul li:nth-child(7) {
  margin-right: 0;
}

#containerMenu #menu ul li:nth-child(8), #containerMenu #menu ul li:nth-child(9), #containerMenu #menu ul li:nth-child(10), #containerMenu #menu ul li:nth-child(11), #containerMenu #menu ul li:nth-child(12) {
  margin-top: 20px;
}

#containerMenu #foods {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 143px;
}

#containerMenu #foods div:nth-child(5), #containerMenu #foods div:nth-child(6), #containerMenu #foods div:nth-child(7), #containerMenu #foods div:nth-child(8) {
  margin-top: 80px;
}

#containerMenu #foods .containerFoods {
  width: 288px;
  height: 389px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/img-produtos/oshizushi.svg);
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

#containerMenu #foods .containerFoods h3 {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

#containerMenu #foods .containerFoods p:nth-child(2) {
  color: white;
  font-weight: 400;
  font-size: 16px;
  margin-top: 9px;
}

#containerMenu #foods .containerFoods p:nth-child(3) {
  color: #DD3C45;
  font-weight: 400;
  font-size: 20px;
  margin-top: 52px;
}

#containerMenu #foods .containerFoods button {
  width: 162.64px;
  height: 35px;
  border-radius: 20px;
  border: none;
  margin-top: 47px;
  color: white;
  background-color: #D2242D;
}

#containerMenu #foods .containerFoods button:hover {
  cursor: pointer;
  background-color: #DD3C45;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#containerMenu #foods .containerFoods * {
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#containerMenu #foods .containerFoods::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: -1;
}

#containerMenu #foods .containerFoods:hover *, #containerMenu #foods .containerFoods:hover::after {
  opacity: 100%;
}

#containerMenu #seeAllMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#containerMenu #seeAllMenu button {
  width: 300px;
  height: 90px;
  border-radius: 10px;
  border: none;
  background-color: #D2242D;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#containerMenu #seeAllMenu button span {
  font-size: 20px;
  color: white;
  font-weight: 400;
  margin-left: 20px;
}

#containerMenu #seeAllMenu button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #DD3C45;
  cursor: pointer;
}

#avaliations {
  margin-top: 315px;
}

#avaliations #lovers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 43px;
}

#avaliations #lovers p {
  margin-left: 29px;
  font-size: 18px;
}

#avaliations #about h2 {
  font-size: 40px;
  font-weight: 400;
}

#avaliations #about h2 strong {
  font-weight: 600;
  color: #B21921;
}

#avaliations #containerUsersAvaliations {
  margin-top: 20px;
  margin-bottom: 196px;
}

#avaliations #containerUsersAvaliations #buttonsUsers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 52px;
}

#avaliations #containerUsersAvaliations #buttonsUsers button {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  border: 1px solid #B21921;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#avaliations #containerUsersAvaliations #buttonsUsers button:hover {
  background-color: #D2242D;
  border: none;
}

#avaliations #containerUsersAvaliations #buttonsUsers #next {
  margin-left: 56px;
}

#avaliations #containerUsersAvaliations #containerUsers {
  width: 1120px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#avaliations #containerUsersAvaliations #containerUsers .user {
  width: 288px;
  height: 400px;
  -webkit-box-shadow: 1px 1px 60px rgba(221, 60, 69, 0.15);
          box-shadow: 1px 1px 60px rgba(221, 60, 69, 0.15);
  border-radius: 10px;
  background: #D8D9D2;
}

#avaliations #containerUsersAvaliations #containerUsers .user .nameUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 67px;
  padding-bottom: 74px;
}

#avaliations #containerUsersAvaliations #containerUsers .user .nameUser p {
  font-weight: 500;
  font-size: 15px;
  margin-left: 17px;
  color: #B21921;
}

#avaliations #containerUsersAvaliations #containerUsers .user .avaliationUser {
  margin-left: 24px;
}

#avaliations #containerUsersAvaliations #containerUsers .user .avaliationUser h3 {
  font-weight: 500;
  font-size: 20px;
  color: #DD3C45;
}

#avaliations #containerUsersAvaliations #containerUsers .user .avaliationUser p {
  font-size: 15px;
  width: 240px;
  margin-top: 12px;
}

footer {
  width: 1284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 107px;
}

footer #footerAbout #aboutLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

footer #footerAbout #aboutLogo svg {
  width: 65px;
  height: 67px;
}

footer #footerAbout #aboutLogo p {
  font-weight: 500;
  font-size: 24px;
  margin-left: 43.61px;
  color: #B21921;
}

footer #footerAbout p {
  font-size: 18px;
}

footer #socialMedias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #socialMedias h4 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 27px;
}

footer #socialMedias div {
  width: 186.58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#me {
  width: 100%;
  margin-top: 98px;
  border-top: 5px solid #B21921;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
}

#me strong {
  font-weight: 500;
  font-size: 20px;
  margin-right: 14px;
}

@media screen and (max-width: 1364px) {
  header #logo {
    width: 60px;
    height: 60px;
  }
  header #containerHeader {
    width: 800px;
  }
  main {
    width: 800px;
  }
  #blurAndImage {
    display: none;
  }
  #containerPresentation #containerAbout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #containerPresentation #containerAbout div {
    width: 600px;
  }
  #containerPresentation #containerAbout div p:first-child {
    width: 100%;
  }
  #containerPresentation #containerAbout svg {
    display: none;
  }
  #background {
    height: 2700px;
  }
  #chooseUs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #chooseUs #Ingredients {
    margin-top: 60px;
  }
  #containerMenu #menu {
    width: 800px;
  }
  #containerMenu #menu #listFoods {
    width: 100%;
  }
  #containerMenu #menu #listFoods li {
    font-size: 18px;
  }
  #containerMenu #foods .containerFoods {
    width: 188px;
    height: 289px;
  }
  #avaliations {
    height: 100%;
  }
  #avaliations #containerUsersAvaliations #containerUsers {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer {
    width: 800px;
  }
}

@media screen and (max-width: 860px) {
  header #containerHeader {
    width: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #containerHeader nav {
    width: 35px;
    height: 3px;
    background-color: #D2242D;
    position: relative;
  }
  header #containerHeader nav a {
    display: none;
  }
  header #containerHeader nav:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #D2242D;
    top: -10px;
  }
  header #containerHeader nav:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #D2242D;
    top: 10px;
  }
  main {
    width: 500px;
  }
  #containerMenu #menu {
    width: 100%;
  }
  #containerMenu #menu #listFoods {
    width: 100%;
  }
  #containerMenu #menu #listFoods li {
    font-size: 14px;
  }
  #containerMenu #menu #listFoods li:nth-child(7) {
    margin-right: 38px;
  }
  #containerMenu #menu #listFoods li:nth-child(6), #containerMenu #menu #listFoods li:nth-child(7) {
    margin-top: 20px;
  }
  #containerPresentation #containerAbout div {
    width: 100%;
  }
  #containerPresentation #containerAbout div p:first-child {
    font-size: 25px;
  }
  #containerPresentation #containerAbout div p:nth-child(2) {
    font-size: 20px;
  }
  #containerPresentation #detail p {
    font-size: 28px;
  }
  #background {
    height: 2935px;
  }
  #chooseUs #description {
    width: 100%;
  }
  #chooseUs #description h2 {
    font-size: 46px;
  }
  #chooseUs #description p {
    font-size: 18px;
  }
  #chooseUs #Ingredients {
    width: 312px;
    height: 401px;
    padding: 41px 0 0 41px;
  }
  #chooseUs #Ingredients h3 {
    font-size: 25px;
  }
  #chooseUs #Ingredients #listIngredients li {
    font-size: 18px;
  }
  #containerMenu #foods .containerFoods:nth-child(3), #containerMenu #foods .containerFoods:nth-child(4) {
    margin-top: 80px;
  }
  footer {
    width: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer #footerAbout {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 550px) {
  header #containerHeader {
    width: 300px;
  }
  main {
    width: 300px;
  }
  #containerPresentation #containerAbout {
    height: 100%;
  }
  #containerPresentation #containerAbout div p:nth-child(2) {
    font-size: 18px;
  }
  #background {
    height: 4135px;
  }
  #containerMenu #menu #listFoods li {
    margin: 25px;
  }
  #containerMenu #menu #listFoods li:nth-child(6), #containerMenu #menu #listFoods li:nth-child(7) {
    margin: 25px;
  }
  #containerMenu #foods {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #containerMenu #foods .containerFoods:nth-child(2) {
    margin-top: 50px;
  }
  #containerMenu #seeAllMenu #buttonMenu {
    width: 200px;
    height: 90px;
  }
  #containerMenu #seeAllMenu #buttonMenu svg {
    width: 25px;
  }
  #containerMenu #seeAllMenu #buttonMenu span {
    font-size: 16px;
  }
  #avaliations #lovers p {
    font-size: 16px;
  }
  #avaliations #about h2 {
    font-size: 30px;
  }
  footer {
    width: 300px;
  }
}

section {
  margin-top: 194px;
}

section h1 {
  font-size: 3rem;
  color: #D2242D;
  text-align: center;
}

section #bar {
  width: 100%;
  height: 3px;
  background-color: #D2242D;
  margin-top: 40px;
  margin-bottom: 58px;
}

section #containerProducts {
  width: 100%;
  margin-bottom: 10rem;
}

section #containerProducts #empty {
  text-align: center;
  margin: 10rem 0;
  display: none;
}

section #containerProducts #list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #DD3C45;
  margin-bottom: 40px;
  padding-bottom: 30px;
}

section #containerProducts #list li img {
  width: 100px;
}

section #containerProducts #list li p {
  font-size: 1.3rem;
}

section #containerProducts #list li span {
  font-size: 1.6rem;
}

section #containerProducts #total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section #containerProducts #delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section #containerProducts #total h2 {
  font-size: 2.5rem;
}

section #containerProducts #delete {
  margin-top: 5rem;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section #containerProducts #delete button {
  border: 1px solid #B21921;
  padding: 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  color: #B21921;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

section #containerProducts #delete button:hover {
  color: white;
  cursor: pointer;
}

section #containerProducts #delete button::before {
  content: '';
  height: 100%;
  width: 0;
  background-color: #DD3C45;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

section #containerProducts #delete button:hover::before {
  width: 100%;
}
/*# sourceMappingURL=carrinho.css.map */