@import '../colors/colors.scss';

section {
    margin-top: 194px;

    h1 {
        font-size: 3rem;

        color: $red-medium;

        text-align: center;
    }

    #bar {
        width: 100%;
        height: 3px;
        background-color: $red-medium;
        margin-top: 40px;
        margin-bottom: 58px;
    }

    #containerProducts {
        width: 100%;

        margin-bottom: 10rem;

        #empty {
            text-align: center;
            margin: 10rem 0;

            display: none;
        }

        #list {
                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    border-bottom: 1px solid $red-light;

                    margin-bottom: 40px;
                    padding-bottom: 30px;

                    img {
                        width: 100px;
                    }

                    p {
                        font-size: 1.3rem;
                    }

                    span {
                        font-size: 1.6rem;
                    }
                }
            }
        

        #total {
            display: flex;
            justify-content: flex-end;
        }

        #delete {
            display: flex;
            justify-content: center;
        }

        #total {
            h2 {
                font-size: 2.5rem;
            }
        }

        #delete {
            margin-top: 5rem;
            display: none;
            justify-content: center;

            button {
                border: 1px solid $red-dark;
                
                padding: 1.2rem;
                font-size: 1rem;
                font-weight: 500;
                color: $red-dark;

                background-color: transparent;

                display: flex;
                justify-content: center;

                position: relative;

                transition: 0.3s ease-in-out;

                &:hover {
                    color: white;
                    cursor: pointer;
                }

                &::before {
                    content: '';
                    height: 100%;
                    width: 0;
                    background-color: $red-light;

                    position: absolute;
                    top: 0;
                    left: 0;

                    z-index: -1;

                    transition: 0.3s ease-in-out;
                }

                &:hover::before {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    main {
        section {
            #list {
                li {
                    p {
                        display: none;
                    }
                }
            }
        }
    }
}