<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/carrinho/carrinho.css">
    <link rel="shortcut icon" href="../img/img-componentes/logo-topo.svg" type="image/x-icon">
    <title>Carrinho</title>
</head>
<body>
    <header>
        <div id="containerHeader">
            <img src="../img/img-componentes/logo-topo.svg" alt="logo" onload="SVGInject(this)" id="logo">

            <nav>
                <a href="../index.html">
                    <img src="../img/icons/profile.svg" alt="image profile" onload="SVGInject(this)">
                    <span>Minha conta</span>
                </a>

                <a href="menu.html">Menu</a>

                <a href="carrinho.html">Carrinho</a>
            </nav>
        </div>
            
    </header>

    <main>
        <section>
            <h1>Carrinho</h1>
            <div id="bar"></div>

            <div id="containerProducts">
                <div id="listProducts">
                    <ul>
                        <li>
                            <img src="../img/img-produtos/california.svg" alt="">
                            <p>Hot Holl</p>
                            <span>Rs 20,00</span>
                        </li>
                    </ul>
                </div>
    
                <div id="total">
                    <h2>Total: 30,00</h2>
                </div>
    
                <div id="delete">
                    <button>Excluir todos</button>
                </div>
            </div>

            
            
        </section>
    </main>
    
</body>
</html>