<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu/menu.css">
    <link rel="shortcut icon" href="../img/img-componentes/logo-topo.svg" type="image/x-icon">
    <script src="../svg-inject.min.js"></script>
    <title>Menu</title>
</head>
<body>
    <header>
        <div id="containerHeader">
            <img src="../img/img-componentes/logo-topo.svg" alt="logo" onload="SVGInject(this)" id="logo">

            <nav>
                <a href="../index.html">
                    <img src="../img/icons/profile.svg" alt="image profile" onload="SVGInject(this)">
                    <span>Minha conta</span>
                </a>

                <a href="menu.html">Menu</a>

                <a href="carrinho.html">Carrinho</a>
            </nav>
        </div>
    </header>

    <main>
        <section id="containerMenu">
            <div id="menu">
                <h2>Todos</h2>
    
                <div id="bar"></div>
    
                <ul id="listFoods">
                    <li>
                        <a>Oshizushi</a>
                    </li>
    
                    <li>
                        <a>Sashimis</a>
                    </li>
    
                    <li>
                        <a>Sushi</a>
                    </li>
    
                    <li>
                        <a>Makis</a>
                    </li>
    
                    <li>
                        <a>Calisfornia</a>
                    </li>
    
                    <li>
                        <a>Spring</a>
                    </li>
    
                    <li>
                        <a>Rainbow Rolls</a>
                    </li>

                    <li>
                        <a>Hot Holl</a>
                    </li>
                </ul>
            </div>
            
            <div id="foods" class="foodsMenu">

            </div>

            <div class="detail">
                <p>脇差</p>
                <div class="border" id="border2"></div>
            </div>
        </section>
    </main>

    <footer>
        <div id="footerAbout">
            <div id="aboutLogo">
                <img src="../img/img-componentes/logo-topo.svg" alt="Logo" onload="SVGInject(this)">
                <p>Wakisash</p>
            </div>

            <p>Amor por entregar o melhor</p>
        </div>
            
        <div id="socialMedias">
            <h4>Nos siga nas redes sociais</h4>
            <div>
                <img src="../img/icons/instagram.svg" alt="Instagram" onload="SVGInject(this)">
                <img src="../img/icons/facebook.svg" alt="Facebook" onload="SVGInject(this)">
                <img src="../img/icons/tik-tok.svg" alt="Tik-Tok" onload="SVGInject(this)">
            </div>
        </div>
    </footer>
    
    <div id="me">
        <strong>Feito Por Tamirys Nogueira</strong>
        <img src="../img/icons/heart.svg" alt="Heart" onload="SVGInject(this)">
    </div>

    <script src="../script/menu.js"></script>
    <script src="../script/filtrar.js"></script>
</body>
</html>