@media screen and (max-width: 1364px) {
    main {
        width: 800px;
    }
    #blurAndImage {
        display: none;
    }

    #containerPresentation {
        header {
            #logo {
                width: 60px;
                height: 60px;
            }

            #containerHeader {
                padding-left: 100px;
                padding-right: 100px;
            }
        }

        #containerAbout {
            flex-direction: column;

            div {
                width: 600px;

                p:first-child {
                    width: 100%;
                }
            }

            svg {
                display: none;
            }
        }
    }

    #background {
        height: 3035px;
    }

    #chooseUs {
        flex-direction: column;

        #Ingredients {
            margin-top: 60px;
        }
    }

    #containerMenu {
        #menu {
            width: 800px;

            #listFoods {
                width: 100%;
                li {
                    font-size: 18px;
                }
            }
        }

        #foods {
            .containerFoods {
                width: 188px;
                height: 289px;
            }
            
        }
    }

    #avaliations {
        #containerUsersAvaliations {
            #containerUsers {
                width: 100%;
                padding-left: 100px;
                padding-right: 100px;
            }
        }
    }

    footer {
        width: 800px;
    }
    
}

@media screen and (max-width: 860px){
    main {
        width: 500px;
    }

    #containerMenu {
        #menu {
            width: 100%;

            #listFoods {
                width: 100%;
                li {
                    font-size: 14px;
                }

                li:nth-child(7) {
                    margin-right: 38px;
                }

                li:nth-child(6), li:nth-child(7) {
                    margin-top: 20px;
                }
            }
        }
    }

    #containerPresentation {
        header {
            #containerHeader {
                nav {
                    a {
                        display: none;
                    }

                    width: 30px;
                    height: 3px;
                    background-color: $red-medium;
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 35px;
                        height: 3px;
                        background-color: $red-medium;
                        top: 10px;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        width: 40px;
                        height: 3px;
                        background-color: $red-medium;
                        top: 20px;
                    }
                }
            }
        }

        #containerAbout {
            div {
                width: 100%;
                p:first-child {
                    font-size: 25px;
                }

                p:nth-child(2) {
                    font-size: 20px;
                }
            }
        }

        #detail {
            p {
                font-size: 28px;
            }
        }
    }

    #background {
        height: 2935px;
    }

    #chooseUs {
        #description {
            width: 100%;

            h2 {
                font-size: 46px;
            }

            p {
                font-size: 18px;
            }
        }

        #Ingredients {
            width: 312px;
            height: 401px;

            padding: 41px 0 0 41px;

            h3 {
                font-size: 25px;
            }

            #listIngredients {
                li {
                    font-size: 18px;
                }
            }
        }
    }

    #containerMenu {
        #foods {
            .containerFoods:nth-child(3), .containerFoods:nth-child(4){
                margin-top: 80px;
            }
        }
    }

    footer {
        width: 500px;
        flex-direction: column;

        #footerAbout {
            margin-bottom: 100px;
        }
    }
}

@media screen and (max-width: 550px) {
    main {
        width: 300px;
    }

    #containerPresentation {
        #containerAbout { 
            height: 100%;
            div {
                p:nth-child(2){
                    font-size: 18px;
                }
            }
        }
    }

    #background {
        height: 3935px;
    }

    #containerMenu {
        #menu {
            #listFoods {
                li {
                    margin: 25px;
                }

                li:nth-child(6), li:nth-child(7) {
                    margin: 25px;
                }
            }
        }

        #foods {
            flex-wrap: nowrap;
            align-items: center;
            flex-direction: column;

            .containerFoods:nth-child(2) {
                margin-top: 50px;
            }
        }

        #seeAllMenu {
            #buttonMenu {
                width: 200px;
                height: 90px;

                svg {
                    width: 25px;
                }

                span {
                    font-size: 16px;
                }
            }
        }
    }

    #avaliations {
        #lovers {
            p {
                font-size: 16px;
            }
        }

        #about {
            h2 {
                font-size: 30px;
            }
        }

        #containerUsersAvaliations {
            #containerUsers {
                padding-left: 20px;
            }
        }
    }

    footer {
        width: 300px;
    }
}