@import '../colors/colors.scss';
@import '../paginaInicial.scss';

#containerMenu {
    #menu {
        #listFoods {
            li {
                a {
                    color: black;
                    text-decoration: none;

                    transition: 0.2s ease-in-out;

                    &:hover {
                        color: $red-medium;
                    }
                }
            }
        }
    }
}